<div class="container-nosidebar" >
  <% if flash[:error] %>
    <p class='error'><%=h flash[:error] %></p>
  <% end %>

  <h2>My Notes</h2>

  <% @notes.each do |note| %>
    <%= render 'refills/comment', note: note %>
<% end %>
</div>
