<div class="modal">
  <label for="modal-1">
    <div class="btn js-btn">Share this note</div>
  </label>
  <input class="modal-state" id="modal-1" type="checkbox" />
  <div class="modal-window">
    <div class="modal-inner">
      <label class="modal-close" for="modal-1"></label>
      <h1>Share this note</h1>

      <%= render 'shares/form' %>

    </div>
  </div>
</div>
